In [ ]:
#Day 1, Week 5

In [2]:
import pandas as pd

In [6]:
#create a customer's table
customer= pd.DataFrame({'CustomerID':[1,2,3], 'Customer Name':['Alice', 'Bob', 'Charlie']})
orders= pd.DataFrame({'OrderID':[101, 102,103], 'CustomerID':[1,2,1], 'Product':['Laptop', 'Tablet', 'Monitor']})
print(customer)
print()
print(orders)

   CustomerID Customer Name
0           1         Alice
1           2           Bob
2           3       Charlie

   OrderID  CustomerID  Product
0      101           1   Laptop
1      102           2   Tablet
2      103           1  Monitor

In [7]:
#performing an inner join
inner_merge= pd.merge(customer,orders, on= 'CustomerID', how= 'inner')
print(inner_merge)

   CustomerID Customer Name  OrderID  Product
0           1         Alice      101   Laptop
1           1         Alice      103  Monitor
2           2           Bob      102   Tablet

In [8]:
#performing an outer join
outer_merge= pd.merge(customer,orders, on= 'CustomerID', how= 'outer')
print(outer_merge)

   CustomerID Customer Name  OrderID  Product
0           1         Alice    101.0   Laptop
1           1         Alice    103.0  Monitor
2           2           Bob    102.0   Tablet
3           3       Charlie      NaN      NaN

In [9]:
#performing a left join and right join
left_merge= pd.merge(customer,orders, on= 'CustomerID', how= 'left')
right_merge= pd.merge(customer,orders, on= 'CustomerID', how= 'right')
print(f'Left Join:\n{left_merge}')
print('')
print(f'Right Join:\n{right_merge}')

Left Join:
   CustomerID Customer Name  OrderID  Product
0           1         Alice    101.0   Laptop
1           1         Alice    103.0  Monitor
2           2           Bob    102.0   Tablet
3           3       Charlie      NaN      NaN

Right Join:
   CustomerID Customer Name  OrderID  Product
0           1         Alice      101   Laptop
1           2           Bob      102   Tablet
2           1         Alice      103  Monitor

In [41]:
#Create two datasets in Python using pandas:
#1. First Dataset: A list containing Name, Email, and Phone Number.
first_dataset= pd.DataFrame({'Name':['Olotu Seyi', 'Stephen Aderemi', 'Frank John'], 
                             'Email':['seyi.olotu@erml.net', 'stephenaderemi16@gmail.com', 'frankjohn@gmail.com'], 
                             'Phone Number':['070 63499927', '081 32762781', '081 52619051']})
print(first_dataset)

              Name                       Email  Phone Number
0       Olotu Seyi         seyi.olotu@erml.net  070 63499927
1  Stephen Aderemi  stephenaderemi16@gmail.com  081 32762781
2       Frank John         frankjohn@gmail.com  081 52619051

In [42]:
#2. Second Dataset: A list with Name, Item Purchased, and Amount Paid.
second_dataset= pd.DataFrame({'Name':['Olotu Seyi', 'Stephen Aderemi', 'Michael Ebeku'], 
                              'Item Purchased':['Smart TV', 'PS 5', 'Iphone 16 Promax'], 
                              'Amount Paid':[1650000, 1250000, 1200000]})
print(second_dataset)

              Name    Item Purchased  Amount Paid
0       Olotu Seyi          Smart TV      1650000
1  Stephen Aderemi              PS 5      1250000
2    Michael Ebeku  Iphone 16 Promax      1200000

In [43]:
#Using pandasâ€™ merge function, apply different types of joins to combine these datasets:
#Inner Join: Only include rows with matching names in both datasets.
inner_join= pd.merge(first_dataset,second_dataset, on= 'Name', how= 'inner')
inner_join
#print(inner_join)

,Name,Email,Phone Number,Item Purchased,Amount Paid
0,Olotu Seyi,seyi.olotu@erml.net,070 63499927,Smart TV,1650000
1,Stephen Aderemi,stephenaderemi16@gmail.com,081 32762781,PS 5,1250000

In [44]:
#Outer Join: Include all rows from both datasets, with missing values filled where no match exists.
outer_join= pd.merge(first_dataset,second_dataset, on= 'Name', how= 'outer')
outer_join
#print(outer_join)

,Name,Email,Phone Number,Item Purchased,Amount Paid
0,Frank John,frankjohn@gmail.com,081 52619051,NaN,NaN
1,Michael Ebeku,NaN,NaN,Iphone 16 Promax,1200000.0
2,Olotu Seyi,seyi.olotu@erml.net,070 63499927,Smart TV,1650000.0
3,Stephen Aderemi,stephenaderemi16@gmail.com,081 32762781,PS 5,1250000.0

In [45]:
#Left Join: Include all rows from the first dataset, along with matches from the second.
#Right Join: Include all rows from the second dataset, along with matches from the first.
left_join= pd.merge(first_dataset,second_dataset, on= 'Name', how= 'left')
right_join= pd.merge(first_dataset,second_dataset, on= 'Name', how= 'right')
print(f'Left Join:\n{left_join}')
print('')
print(f'Right Join:\n{right_join}')

Left Join:
              Name                       Email  Phone Number Item Purchased  \
0       Olotu Seyi         seyi.olotu@erml.net  070 63499927       Smart TV
1  Stephen Aderemi  stephenaderemi16@gmail.com  081 32762781           PS 5
2       Frank John         frankjohn@gmail.com  081 52619051            NaN

   Amount Paid
0    1650000.0
1    1250000.0
2          NaN

Right Join:
              Name                       Email  Phone Number  \
0       Olotu Seyi         seyi.olotu@erml.net  070 63499927
1  Stephen Aderemi  stephenaderemi16@gmail.com  081 32762781
2    Michael Ebeku                         NaN           NaN

     Item Purchased  Amount Paid
0          Smart TV      1650000
1              PS 5      1250000
2  Iphone 16 Promax      1200000