# Dictionaries

In [1]:
# 1. **Creating Dictionaries**
# - **Question:** Create a dictionary named `book` that contains the following key-value pairs:
#`title` ("Python Programming"), `author` ("John Doe"), and `pages` (350). Print the dictionary.

book = {'title':'Python Programming', 'author':'John Doe', 'pages':350}
print(book)

{'title': 'Python Programming', 'author': 'John Doe', 'pages': 350}

In [2]:
print(type(book))

<class 'dict'>

In [4]:
#2. **Accessing Values**
#- **Question:** Given the dictionary `person = {"name": "Emily", "age": 30, "profession":
#"Engineer"}`, write code to print only the profession.

person = {'name':'Emily', 'age':30, 'profession':'Engineer'}
print(person['profession'])

Engineer

In [7]:
# 3. **Adding and Removing Items**
#- **Question:** Add a new key `salary` with the value `50000` to the `person` dictionary. Then,
#remove the key `age` from the dictionary. Print the updated dictionary.

person['salary']=50000

In [8]:
person

{'name': 'Emily', 'age': 30, 'profession': 'Engineer', 'salary': 50000}

In [10]:
del(person['age'])

In [12]:
print(person)

{'name': 'Emily', 'profession': 'Engineer', 'salary': 50000}

In [13]:
# 4. **Dictionary Methods**
#- **Question:** Given the dictionary `inventory = {"apples": 10, "oranges": 5, "bananas": 7}`,
#use dictionary methods to:
#- Print all the keys.
#- Print all the values.
#- Print all the key-value pairs.

inventory = {'apples':10, 'oranges':5, 'bananas':7}

In [14]:
inventory

{'apples': 10, 'oranges': 5, 'bananas': 7}

In [17]:
inventory.keys()

dict_keys(['apples', 'oranges', 'bananas'])

In [18]:
inventory.values()

dict_values([10, 5, 7])

In [19]:
inventory.items()

dict_items([('apples', 10), ('oranges', 5), ('bananas', 7)])

In [20]:
# 5. **Real-World Scenario**
#- **Question:** You have a dictionary `grades = {"Alice": 85, "Bob": 90, "Charlie": 78}`. Write a
#loop to print each student's name and grade in the format `"Alice has a grade of 85."`.


grades = {'Alice':85, 'Bob':90, 'Charlie':78}

In [23]:
for name, grade in grades.items():
    print(f'{name} has a grade of {grade}')

Alice has a grade of 85
Bob has a grade of 90
Charlie has a grade of 78

In [1]:
# Just creating a dictionary

d = {}

In [2]:
d['George'] = 35

In [3]:
d['Jenny'] = 16

In [4]:
d['Hoffman'] = 27

In [5]:
print(d['George'])

35

In [6]:
print(d['Jenny'])
print(d['Hoffman'])

16
27

In [7]:
for key, value in d.items():
    print('key: ')
    print(key)
    print('value: ')
    print(value)
    print('')

key:
George
value:
35

key:
Jenny
value:
16

key:
Hoffman
value:
27

# Booleans

In [24]:
# 1. **Boolean Variables**
#- **Question:** Create two boolean variables `is_student` and `is_employed`. Set them to
#`True` and `False` respectively. Print both variables.


is_student = True
is_employed = False

In [25]:
print(is_student)
print(is_employed)

True
False

In [26]:
# 2. **Boolean Operations**
#- **Question:** Given `a = True` and `b = False`, write expressions to evaluate:
#- `a and b`
#- `a or b`
#- `not a`
#- `not b`
#- Print the results of each expression.


a = True
b = False

In [28]:
print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [42]:
# 3. **Boolean Expressions**
#- **Question:** Write a boolean expression to check if a number `x` is between 10 and 20
#(inclusive). Assign the result to a variable `is_in_range` and print it for `x = 15`.


x = 15
is_in_range = True

In [43]:
if x in range(10,20) and is_in_range:
    print('x is in range(10,20)')
else:
    print('x is not in range(10,20')

x is in range(10,20)

In [48]:
# 4. **Real-World Scenario**
#- **Question:** You are building a simple login system. Create boolean variables
#`username_correct` and `password_correct`. Write a boolean expression that evaluates to
#`True` only if both the username and password are correct. Print the result.


username_correct = True
password_correct = True

In [49]:
if username_correct and password_correct == True:
    print('Login successful')
else:
    print('Incorrect password or Username. Try again')

Login successful

In [56]:
# 1. **Basic If Statement**
#- **Question:** Write a program that takes an integer input `num`. If `num` is positive, print
#`"Positive number."`


positive_number = int(input('Enter a positive integer: '))
if positive_number < 0:
    print('Invalid num, input a positive integer')
else:
    print(f'The num {positive_number} you entered is a valid input')

Enter a positive integer:  8

The num 8 you entered is a valid input

In [60]:
# 2. **If-Else Statement**
#- **Question:** Extend the previous program to print `"Negative number."` if `num` is less than
#zero. If `num` is zero, print `"Zero."


positive_number = int(input('Enter a positive number: '))
if positive_number < 0:
    print(f'The number {positive_number} is a negative value')
elif positive_number == 0:
    print(f'The number {positive_number} is zero')
else:
    print(f'The number {positive_number} is a positive value')

Enter a positive number:  790

The number 790 is a positive value

In [62]:
# 3. **If-Elif-Else Statement**
#- **Question:** Write a program that takes an integer input `score`.
#- If `score` is 90 or above, print `"Grade: A"`
#- Elif `score` is 80 or above, print `"Grade: B"`
#- Elif `score` is 70 or above, print `"Grade: C"`
#- Else, print `"Grade: F"`


score = int(input('Enter your score: '))

if score >= 90:
    print('Grade: A')
elif score >= 80:
    print('Grade: B')
elif score >= 70:
    print('Grade: C')
else:
    print('Grade: F')

Enter your score:  69

Grade: F

In [66]:
# 4. **Nested If Statements**
#- **Question:** Write a program that takes two inputs: `age` and `has_license`.
#- If `age` is 18 or above:
#- If `has_license` is `True`, print `"You can drive."`
#- Else, print `"You need a driver's license to drive."`
#- Else, print `"You are too young to drive."`


has_license = True
age = int(input('Please enter your age: '))

if age >= 18:
    if has_license == True:
        print('You can drive')
    else:
        print("You need a driver's license to drive")
else:
    print('You are too young to drive')

Please enter your age:  46

You can drive

In [94]:
# 5. **Real-World Scenario**
#- **Question:** You are creating a simple discount system for a store. Write a program that
#takes an integer input `purchase_amount`.
#- If `purchase_amount` is greater than or equal to 1000, print `"You get a 20% discount!"`
#- Elif `purchase_amount` is greater than or equal to 500, print `"You get a 10% discount!"`
#- Else, print `"No discount available."`


purchase_amount = int(input('Enter the total amount of purchased item: '))

if purchase_amount >= 1000:
    print('You get a 20% discount')
elif purchase_amount >= 500:
    print('You get a 10% discount')
else:
    print('No discount available')

Enter the total amount of purchased item:  3589

You get a 20% discount

# Bonus Challenges

In [72]:
# 1. **Nested Dictionaries**
#- **Question:** Create a library dictionary containing two books. Each book should
#be a nested dictionary with keys `title`, `author`, and `year`. Print the entire `library` dictionary.

library = {
    'book1':{
    'title':'Pride and Prejudice', 
    'author':'J Austen', 
    'year':1813},
    'book2':{
    'title':'Uncle Bernac',
    'author':'A.C. Doyle',
    'year':1879}
}

In [93]:
print(library)

{'book1': {'title': 'Pride and Prejudice', 'author': 'J Austen', 'year': 1813}, 'book2': {'title': 'Uncle Bernac', 'author': 'A.C. Doyle', 'year': 1879}}

In [1]:
# 2. **Dictionary Methods**
#- **Question:** Given the dictionary `data = {"key1": "value1", "key2": "value2", "key3":
#"value3"}`, use the `get()` method to retrieve the value for `key2`. Also, try to retrieve the value
#for a non-existent key `key4` with a default value `"Not Found"`.

data = {'key1':'value1', 'key2':'value2', 'key3':'value3'}
print(data.get('key2'))

value2

In [76]:
data.get('key4')

In [77]:
print(data.get('key4'))

None

In [80]:
print(data.get('key4'))

None

In [2]:
# 1. **Complex Boolean Expressions**
#- **Question:** Given `x = 10`, `y = 20`, and `z = 30`, write a boolean expression that
#evaluates to `True` if `x` is less than `y` **and** `y` is less than `z`. Could you print the result?

x,y,z = 10,20,30

print(x<y<z)

True