# Functions

In [1]:
# Introduction to function

def greet():
    print('You are Welcome to Regonet Global ')

In [4]:
greet()

You are Welcome to Regonet Global

In [5]:
# Create a function to add 2 arguements

def add(a, b):
    return a + b

In [6]:
# Calling the add function
result = add(346, 792)
print(result)

1138

In [7]:
# Create a function that can run the area of a rectangle

def calc_rectangle_area(lenght,width):
    return lenght * width

In [9]:
# assigning value to be calculated

area1 = calc_rectangle_area(9350, 752)
print(area1)

7031200

# Types of function

In [10]:
# Positioning Function

def multi(a,b):
    return a * b

In [11]:
area2 = multi(6589, 65271)
print(area2)

430070619

In [12]:
# 2. Keyword argument

def introduce(name, age, city):
    print(f"My name is {name}, I am {age} years old and I live in {city}")

In [14]:
# Calling the assignment

print(introduce(age = 38, city = 'Lagos', name = 'Seyi'))

My name is Seyi, I am 38 years old and I live in Lagos
None

In [15]:
# 3. Default arguement

def greet(name, greeting = 'Hello'):
    print(f"{greeting}, {name}")

In [17]:
# Calling the assignment

greet('Tolu')

Hello, Tolu

In [19]:
# Another example 

greet('Tolu', 'How are you')

How are you, Tolu

In [48]:
# Variable lenght arguement
# functions with args

def sum_all(*args):
    total = 0
    for nums in args:
        total += nums
    return total

In [49]:
# Calling varying numbers of argument

sum_all(786,10387,367819)

378992

# Assignment

In [39]:
# 1. *Positional Arguments*
#- *Question:* Write a function full_name that takes two positional arguments first and last and returns the full name as a single string. 
# Call the function with the arguments "John" and "Doe" and print the result.

def full_name(a, b):
    return a, b

In [46]:
a = 'John'
b = 'Doe'

full_name(a, b)
print(f'My name is {a} {b}')

My name is John Doe

In [31]:
# 2. *Keyword Arguments*
# - *Question:* Given the function def book_details(title, author, year):, 
# call it using keyword arguments to print the details of the book "1984" by "George Orwell", published in 1949.


def book_details(title, author, year):
    print(f"The book before you is named {title}. {author} was the author of the book and it was published in the year {year}.")

In [32]:
# Calling and assigning argument

book_details(1984, 'George Orwell', 1949)

The book before you is named 1984. George Orwell was the author of the book and it was published in the year 1949.

In [36]:
# 3. *Default Arguments*
# *Question: Create a function make_coffee that takes one mandatory parameter size and one optional parameter flavor with a default value of "vanilla".
# The function should print the coffee order. Call the function twice: once with both arguments and once with only the size.

def make_coffee(size, flavor = 'vanilla'):
    print(f"Can I get a {size} cup of {flavor} flavored coffee, please?")

In [37]:
# Calling and assigning argument

make_coffee('small')

Can I get a small cup of vanilla flavored coffee, please?

In [38]:
# Another example

make_coffee('medium', 'strawberry')

Can I get a medium cup of strawberry flavored coffee, please?

In [52]:
# Create a function that calculates the average marks of a student
# marks = [55, 64, 75, 80, 65]

def find_avg_mark(marks):
    sum_of_marks = sum(marks)
    total_no_subjects = len(marks)
    average_mark = (sum_of_marks/total_no_subjects)
    return average_mark

In [53]:
# Calling and assigning

marks = [55, 64, 75, 80, 65]
average = find_avg_mark(marks)
print(f"The average mark for the student is {average}")

The average mark for the student is 67.8

In [54]:
# compute grade

def compute_grade(average_mark):
    if average_mark >= 90:
        print('Grade: A')
    elif average_mark >= 80:
        print('Grade: B')
    elif average_mark >= 70:
        print('Grade: C')
    else:
        print('Grade: F')

In [55]:
# Assigning
compute_grade(average)

Grade: F