# Introduction to PANDAS

key features of pandas: 
data structures 
data operations 
data input 
data cleaning

In [1]:
# lets import pandas library

import pandas as pd

In [8]:
# Creating a series of one-dimensional datasheet

a = pd.Series([1,2,3], index = ['a','b','c'])
print(a)

a    1
b    2
c    3
dtype: int64

In [10]:
b = pd.Series([4,5,6,7], index = ['rat','dog','rabbit','duck'])
print(b)

rat       4
dog       5
rabbit    6
duck      7
dtype: int64

In [12]:
# Creating a series of a two-dimensional datasheet
# Create a data frame
data = {'name':['Obaloluwa','Oluwafikayomi','Pampam','Michelle'], 'age':[4,2,5,2], 'occupation':['Data analyst','Doctor','Engineer','Lawyer']}
df = pd.DataFrame(data)
print(df)

            name  age    occupation
0      Obaloluwa    4  Data analyst
1  Oluwafikayomi    2        Doctor
2         Pampam    5      Engineer
3       Michelle    2        Lawyer

In [13]:
#creating a label
b = [4,6,7,9]
myVar = pd.Series(b, index = ['rat','dog','rabbit','duck'])
print(myVar)

rat       4
dog       6
rabbit    7
duck      9
dtype: int64

In [14]:
# Let us get the value of duck

print(myVar['duck'])

9

In [18]:
#Let us create a data frame for state and capital

c = {'state':['Ondo','Gombe','Cross river','Kano'], 'capital':['Akure','Gombe','Calabar','Kano']}
df_1 = pd.DataFrame(c)
print(df_1)

         state  capital
0         Ondo    Akure
1        Gombe    Gombe
2  Cross river  Calabar
3         Kano     Kano

In [21]:
#locate special row ;;;; loc = categorical locator, iloc = integer locator
df_1.loc[2]

state      Cross river
capital        Calabar
Name: 2, dtype: object

In [22]:
#create a dataframe
d = {'country':['usa','usa','italy','italy'], 'sales': [100, 200,50,75]}
df_2 = pd.DataFrame(d)

In [23]:
print(df_2)

  country  sales
0     usa    100
1     usa    200
2   italy     50
3   italy     75

In [26]:
# to perform a groupby
grouped_df_2 = df_2.groupby('country')['sales'].sum()

In [27]:
print(grouped_df_2)

country
italy    125
usa      300
Name: sales, dtype: int64

In [34]:
# Merging

df_3 = pd.DataFrame({'Id':[1,2,3], 'Name':['John','Jane','Dayo']})
df_4 = pd.DataFrame({'Id':[1,2,3], 'Age':[23,45,28]})

# Join df_3 and df_4
merged_dfs = pd.merge(df_3,df_4, on = 'Id')
print(merged_dfs)

   Id  Name  Age
0   1  John   23
1   2  Jane   45
2   3  Dayo   28

In [45]:
# pivoting 
import pandas as pd
#create data frame 
data2 = {'country':['usa','usa','italy','italy', 'nigeria'],'year':[2020,2021,2020,2021, 2023],'sales': [100, 200,50,75,'']}
df_5 = pd.DataFrame(data2)

#pivot df
pivoted_df = df_5.pivot(index = 'country', columns = 'year', values = 'sales')
print(pivoted_df)
df_5.describe

year    2020 2021 2023
country
italy     50   75  NaN
nigeria  NaN  NaN
usa      100  200  NaN

<bound method NDFrame.describe of    country  year sales
0      usa  2020   100
1      usa  2021   200
2    italy  2020    50
3    italy  2021    75
4  nigeria  2023      >