# TUPLE

In [1]:
# 1. Creating Tuples
#Question: Create a tuple named `book` that contains the following information about a book:
#title ("Python Programming"), author ("John Doe"), and number of pages (350). Print the tuple.

book = ({'title':'Python Programming'}, {'author':'John Doe'}, {'number of pages':350})

In [3]:
print(book)

({'title': 'Python Programming'}, {'author': 'John Doe'}, {'number of pages': 350})

In [5]:
#Accessing Elements
#Question: Given the tuple `coordinates = (34.0522, -118.2437)`, write code to print only the latitude.

tuple_coordinate = (34.0522, -118.2437)
print(tuple_coordinate[1])

-118.2437

In [6]:
longitude, latitude = (34.0522, -118.2437)
print(f'The latitude of the coordinate is {latitude}')

The latitude of the coordinate is -118.2437

In [9]:
# Unpacking Tuples
#Question: Unpack the tuple `person = ("Emily", 30, "Engineer")` into three variables: `name`, `age`, and `profession`. Then, print each variable.

person = ('Name', 'Age', 'Profession'),('Emily', 30, 'Engineer')

In [11]:
print(f'The name of the person is {'Emily'}')
print(f'Her age is {30} years')
print(f'And her profession is an {'Engineer'}')

The name of the person is Emily
Her age is 30 years
And her profession is an Engineer

In [28]:
# Real-World Scenario
#Question: You have a list of tuples representing students and their scores: `students = #[("Alice", 85), ("Bob", 90), ("Charlie", 78)]`. 
#Write a loop to print each student's name and score in the format `"Name: Alice, Score: 85"`.


students = [('Alice', 85), ('Bob', 90), ('Charlie', 78)]

In [25]:
students

[{'Alice': 85}, {'Bob': 90}, {'Charlie': 78}]

In [31]:
for name, score in students:
    print(f"{name}: {score}")

Alice: 85
Bob: 90
Charlie: 78

# Range

In [32]:
# 1. Basic Range Creation
# Question: Create a range that starts at 0 and ends at 10 (exclusive). Convert it to a list and print it.

list1 = range(0,10)
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
print(list1)

range(0, 10)

In [35]:
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# Range with Start and Stop
# Question: Create a range that starts at 5 and ends at 15 (exclusive). Convert it to a list and print it.

list2 = range(5,15)

In [37]:
print(list(list2))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [38]:
# 3. Range with Step
# Question: Create a range that starts at 2, and ends at 20 (exclusive), with a step of 3. Convert it to a list and print it.

list3 = range(2,20,3)
print(list(list3))

[2, 5, 8, 11, 14, 17]

In [43]:
# Using Range in Loops
# Question: Write a `for` loop that prints the squares of numbers from 1 to 5 using `range()`.

list4 = range(1,5)

for num in (list4):
    print (num ** 2)

1
4
9
16

In [47]:
# 5. Real-World Scenario
# Question: You have a list of 10 products in a store. Use a range to iterate over the list indices and print each product with its index.
# products = ["Laptop", "Smartphone", "Tablet", "Headphones", "Camera", "Smartwatch", "Printer", "Monitor", "Keyboard", "Mouse"]


products = ["Laptop", "Smartphone", "Tablet", "Headphones", "Camera", "Smartwatch", "Printer", "Monitor", "Keyboard", "Mouse"]
for items in range(len(products)):
    print (items, products[items])

0 Laptop
1 Smartphone
2 Tablet
3 Headphones
4 Camera
5 Smartwatch
6 Printer
7 Monitor
8 Keyboard
9 Mouse

# Set

In [50]:
# 1. Creating Sets
# Question: Create a set named `colors` that contains the following colors: "red", "green", "and blue". Print the set.


colors = {'red','green','blue'}
print(colors)

{'blue', 'green', 'red'}

In [52]:
# 2. Ensuring Uniqueness
#Question: Create a set from the list `numbers = [1, 2, 2, 3, 4, 4, 5]` to remove duplicates. Print the set.

numbers = {1,2,2,3,4,4,5}
print(numbers)

{1, 2, 3, 4, 5}

In [54]:
# 3. Set Operations: Union
# Question: Given two sets `set_a = {1, 2, 3}` and `set_b = {3, 4, 5}`, perform a union operation and print the result.

set_a = {1,2,3}
set_b = {3,4,5}
print(set_a.union(set_b))

{1, 2, 3, 4, 5}

In [55]:
# 4. Set Operations: Intersection
# Question: Using the same sets `set_a` and `set_b`, perform an intersection operation and print the result.

print(set_a.intersection(set_b))

{3}

In [62]:
# 5. Set Operations: Difference
# Question: Find the difference between `set_a` and `set_b` (elements in `set_a` but not in `set_b`) and print the result.

set_a.symmetric_difference(set_b)

{1, 2, 3, 4, 5}

In [63]:
difference = set_a - set_b

In [64]:
print(difference)

{1, 2}

In [65]:
print(set_a.difference(set_b))

{1, 2}

In [67]:
# 6. Modifying Sets
# Question: Starting with the set `fruits = {"apple", "banana", "cherry"}`, add "orange" to the set and remove "banana". Print the updated set.

fruits = {'apple','banana','cherry'}

In [68]:
fruits.add('orange')

In [69]:
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [70]:
fruits.remove('banana')

In [72]:
print(fruits)

{'orange', 'cherry', 'apple'}

In [73]:
# 7. Real-World Scenario
# Question: You have two lists of attendees for two different workshops:
# workshop1 = ["Alice", "Bob", "Charlie", "David"]
# workshop2 = ["Charlie", "David", "Eve", "Frank"]
# Convert these lists to sets and find out:
#- Who attended both workshops?
#- Who attended only the first workshop?
#- Who attended only the second workshop?


workshop1 = ['Alice','Bob','Charlie','David']
workshop2 = ['Charlie','David','Eve','Frank']

In [74]:
# convert the 2 variables to set
set(workshop1)

{'Alice', 'Bob', 'Charlie', 'David'}

In [75]:
set(workshop2)

{'Charlie', 'David', 'Eve', 'Frank'}

In [76]:
# who attended both workshop
set(workshop1).intersection(set(workshop2))

{'Charlie', 'David'}

In [77]:
# who attended only first workshop
set(workshop1).difference(set(workshop2))

{'Alice', 'Bob'}

In [78]:
# who attended only second workshop
set(workshop2).difference(set(workshop1))

{'Eve', 'Frank'}

# Bonus Challenges

In [81]:
# 1. Nested Tuples
# Question: Create a tuple that contains three tuples, each representing a point's (x, y) coordinates: (1, 2), (3, 4), and (5, 6). Print the tuple.


points = (1,2),(3,4),(5,6)
print(points)

((1, 2), (3, 4), (5, 6))

In [83]:
x,y = points[0]
print(x,y)

1 2

In [85]:
x,y = points[1]
print(x,y)
x,y = points[2]
print(x,y)

3 4
5 6

In [86]:
print(x,y)

5 6

In [90]:
# 2. Tuple Methods
# Question: Given the tuple `data = ("apple", "banana", "cherry", "banana")`, find how many times "banana" appears in the tuple.

data = ("apple", "banana", "cherry", "banana")
data.count('banana')

2

In [91]:
# 1. Reverse Range
# Question: Create a range that starts at 10 and ends at 0 (exclusive) with a step of -2. Convert it to a list and print it.

list5 = range(10,0,-2)
print(list(list5))

[10, 8, 6, 4, 2]

In [92]:
# 2. List Comprehension with Range
# Question: Use a list comprehension with `range()` to create a list of squares for numbers from 1 to 10. Print the list.

numbers3 = range(1,10)

In [96]:
# This is just a for loop statement to help out with the list comprehension
for num in numbers:
    print(num ** 2)

1
4
9
16
25

In [102]:
squared_number = [num ** 2 for num in numbers]

In [103]:
print(squared_number)

[1, 4, 9, 16, 25]

In [105]:
# 1. Symmetric Difference
# Question: Given two sets `set_x = {1, 2, 3, 4}` and `set_y = {3, 4, 5, 6}`, find the symmetric difference and print the result.

set_x = {1, 2, 3, 4} 
set_y = {3, 4, 5, 6}
print(set_x.symmetric_difference(set_y))

{1, 2, 5, 6}

In [107]:
# 2. Subset and Superset
# Question: Given two sets `set_a = {1, 2}` and `set_b = {1, 2, 3, 4}`, determine if `set_a` is a
# subset of `set_b` and if `set_b` is a superset of `set_a`. Print the results as `True` or `False`.

set_a = {1, 2}
set_b = {1, 2, 3, 4}
print(set_a.issubset(set_b))

True

In [108]:
print(set_b.issuperset(set_a))

True